/*mobile styles by Michael McGowan*/
/*information about targeting mobile device from Rob Gravelle at: http://www.htmlgoodies.com/beyond/css/targeting-specific-devices-in-your-style-sheets.html*/

@media only screen and (max-width: 400px){

/*navigation*/
.navbar{
  padding-right: 0px;
}

.icons{
  padding-bottom: 50px;
}

#dashboard{
  left:5%;
}

#people{
  left:20%;
}

#chat{
  left:35%;
}

#tag{
  left:50%;
}

#edit{
  left:65%;
}

#stats{
  left:80%
}

#chevron{
  left:7.5%;
  margin-bottom:-65px;
}



}
