/*Custom Stylesheet by Michael McGowan*/

/*NAVIGATION BARS*/
/*navbar and iconbar*/
.horizontal > li {
  float: right;
}

/*top navbar*/
.navbar {
  background-color: #2394ee;
  padding: 5px 100px 10px 0px;
  padding-right: 100px; /*would have rather used percentages here but couldn't figure it out*/
  height: 35px;
}

/*compress icons*/
.navbar img {
  height: 17px;
}

/*navbar link text*/
.navbar li a {
  font-weight: bold;
  color: white;
  font-size: 10.5px;
  padding-right: 10px;
}

/*separators via stack overflow https://stackoverflow.com/questions/5688791/separators-for-navigation/11574821*/
.navbar > div > ul > li > a > img {
  background-image: url(../images/separator.png);
  background-repeat: no-repeat;
  background-position: top left;
  padding-left: 10px;
  margin: 0 auto;
}

/*navigation bar with icons*/
.icons {
  background-image: url(../images/icon-background.png);
  background-position: center;
  height: 110px;
  padding-top: 20px;
}

/*removes list styling for nav-bar and icon-bar*/
.icons ul, .navbar ul {
  list-style: none;
}

/*styling for standard/hover state icons*/
.front:hover {
    opacity: 0;
    cursor: pointer;
}

.back {
  margin-left: 1px;
}

.above {
   position: absolute;
  z-index: 2;
}

.below {
   position: absolute;
  z-index: 1;
}

/*Icons Spacing*/
#dashboard {
  left: 20%;
}

#people {
  left: 30%;
}

#chat {
  left: 40%;
}

#tag {
  left: 50%;
}

#edit {
  left: 60%;
}

#stats {
  left: 70%;
}

#chevron {
  left: 21.5%;
  bottom: 0%;
  margin-bottom: -5px;
}

/*icon adjustment*/
.shift-2 {
  margin-left: -2px;
}

.shift-1 {
  margin-left: -1px;
}

/*dashboard bar*/
.dash {
  background-color: #3dca6a;
  border-radius: 5px;
  padding: 20px 0px 10px 0px;
  margin-top: 15px;
}

.dash h1 {
  font-family: 'Hind', sans-serif;
  font-size: 27px;
  color: white;
  margin: 0 auto;
  display: inline;
}

/*search bar in dashboard*/
.dash form {
  float: right;
  margin-top: -3px;
}

.dash form input {
  border-color: #2db55b;
  border-style: solid;
  border-width: 1px;
  border-radius: 2px;
}

.dash img {
  z-index: 2;
  position: absolute;
  left: 96%;
}

/*CONTENT*/

/*general styling*/
/*styling for content div*/
.content {
  background-image: url(../images/trans-gradient.png);
  background-size:contain;
  margin: 0px -15px;
  background-repeat: no-repeat;
  margin-top: 20px;
  padding: 10px;
}

.content-shadow {
  box-shadow: 0px 1px 2px gray;
}

.content-shadow .row {
  margin-left: 0px;
  margin-right: 0px;
}

/*actual font is myriad pro, hind google font looks identical*/
h2 {
  font-family: 'Hind', sans-serif;
  font-size: 30px;
  color: #3399ff;
  margin-left: 20px;
  display: inline;
}

/*panels*/
.tiles {
  margin: 0px 3px;
  background-color: white;
  padding-top: 15px;
}

/*remove shadow*/
.row .row {
  box-shadow: none;
}

/*remove column padding*/
.internal {
  padding: 10px;
}

/*tiles internal border-right*/
.border-right {
  border-right: 0.5px solid #eeeeee;
}

.border-bottom {
    border-bottom: 0.5px solid #eeeeee;
}

.center {
  text-align: center;
}

/*sprites as list items*/
.bullet {
  float: left;
  display: inline;
  margin-left: 20px;
}

/*ANNOUNCEMENTS (top row)*/
.announcements {
  background-color: white;
  border: 1px solid #efefef;
  margin: 0px 3px;
  line-height: 45px;
}

.announcements h4 {
  font-family: 'Hind', sans-serif;
  font-weight: lighter;
  font-size: 13px;
  color: #f57e20;
  margin: 0px;
  line-height: 45px;
  vertical-align: middle;
}

.announcements p {
  font-family: 'Hind', sans-serif;
  font-weight: lighter;
  font-size: 13px;
  color: #777777;
  margin: 0px;
}

.announcements a { /*arrow buttons*/
  margin: 3px;
}

.announcements a img:hover {
  transform: scale(1.1);
}

/*shared - TASKS and RECOMMENDATIONS*/
.tasks h3, .rec h3 {
  font-family: 'Hind', sans-serif;
  font-size: 20px;
  color: #3399ff;
  margin-left: 15px;
  display: inline;
  vertical-align: super;
}

.tasks ul, .rec ul {
  list-style: none;
  padding: 0px;
  margin-top: 5px;
  margin-bottom: 0px;
}

.tasks li:last-child { /*rm border from last item*/
  border: none;
}

.tasks a:hover li, .rec a:hover li{
  /*grayscale filter from w3schools - link: https://www.w3schools.com/cssref/css3_pr_filter.asp*/
  -webkit-filter: grayscale(100%);
  filter: grayscale(100);
  cursor: pointer;
}

.tasks a:hover, .rec a:hover {
  text-decoration: none;
}

/*TASKS*/
.tasks .sprite-tasks-settings {
  float: right;
  display: inline;
  margin-right: 20px;
}

.tasks li {
  line-height: 40px;
  padding: 15px 0px 5px 0px;
  border-bottom: 0.5px solid #eeeeee;
}

/*task tiles hover*/
.tasks .sprite-tasks-settings:hover {
  transform: scale(1.1);
  cursor: pointer;
}

/*task tiles*/
.tag {
  float: right;
  display: inline;
  vertical-align: super;
  margin-right: 20px;
}

/*RECOMMENDATIONS*/
.rec {
  padding: 20px 20px; /*border troubleshooting*/
}

.rec li {
  line-height: 40px;
  padding: 15px 0px 5px 0px;
  border-bottom: 0.5px dotted #eeeeee;
}

.rec h2 {
  margin: 0px;
}

/*bullet spacing*/
.rec-list .bullet {
  width: 20px;
  margin: 0px 20px 0px 0px;
}

/*superscript*/
.rec h6 {
  font-family: 'Hind', sans-serif;
  font-size: 10px;
  color: #777777;
  margin: 0px;
  display: block;
  vertical-align: middle;
  text-align: left;
  margin-bottom: 3px;
}

/*main content*/
.rec p {
  font-family: 'Hind', sans-serif;
  font-size: 17px;
  color: #777777;
  line-height: normal;
  display: block;
  text-align: left;
  line-height: 100%;
}

.rec li:hover p, .rec li:hover h6 {
  color: black;
}

/*ANALYTICS*/
/*Dropdown Menu Styling*/

.dropbtn {
    background-color: white;
    color: #666666;
    padding: 3px 7px;
    font-size: 16px;
    border: 1px solid #cccccc;
    border-radius: 3px;
    cursor: pointer;
}
.dropbtn * {
  display: inline;
  margin: 12px;
}
.drop button {
  padding: 0px;
}

.drop {
    position: relative;
    display: inline;
    float: right;
}

.dropbtn-items {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.drop-content a {
    text-decoration: none;
    display: block;
    border-bottom: 0.5px solid #eeeeee;
}

.analytics p {
  font-family: 'Hind', sans-serif;
  font-size: 13px;
  color: #777777;
  text-align: left;
  line-height: 20px;
  vertical-align: middle;
  margin: 10px;
  font-weight: lighter;
}

.drop:hover .dropbtn-items {
    display: block;
}

/*graph stylings*/
.analytics h2, h5 {
  display: block;
}

.activity {
  border-right: 1px solid #cccccc;
}

.analytics h5 {
  font-family: 'Hind', sans-serif;
  font-size: 13px;
  color: #999999;
  display: inline;
  vertical-align: middle;
  text-align: left;
}

.graph {
  margin: 30px 20px 20px 20px;
  width: 90%;
}

.donuts * {
  margin: 10px;
  vertical-align: bottom;
}

.donuts img {
  margin-bottom: 30px;
}

.social-col {
  margin-top: 20px;
}
.social-col, .buffer {
  padding-bottom: 20px;
}

/*checkbox form override*/
input[type="checkbox"] {
  display: none;
}

input[type="checkbox"] + label{
  background: url(../images/unchecked.png);
  background-repeat: no-repeat;
  height: 22px;
  width: 22px;
  display: inline-block;
  margin: 0px 2px 10px 10px;
}

input[type="checkbox"]:checked + label{
  background: url(../images/checked.png);
  background-repeat: no-repeat;
  height: 22px;
  width: 22px;
  display: inline-block;
  margin: 0px 2px 10px 10px;
}

label:hover {
  cursor: pointer;
  transform: scale(1.1);
}

.social-tag {
  display: inline-block;
  border-radius: 5px;
  font-family: 'Hind', sans-serif;
  font-size: 13px;
  color: white;
  display: inline;
  vertical-align: top;
  text-align: center;
  padding: 0px 8px;
  margin-left: -3px;
}

/*share styles*/
#facebook {
  background-color: #003366;
}
#twitter {
  background-color: #3399ff;
}
#foursquare {
  background-color: #336699;
}
#google {
  background-color: #33cc66;
}

/*CONTACTS and CUSTOMERS*/
.contacts{
  height: 300px;
}

.outside{
  position:absolute;
  left: 15%;
  height: 200px;
  width: 240px;
  margin: 50px 0px;
  z-index: 2;
  background-image: url(../images/ribbon.png);
  background-repeat: no-repeat;
  background-position: 0px 18px;
}

.outside img{
  position: absolute;
  margin:0px auto;
  z-index:2;
  left:82px;
  top:-21px;
}

.inside{
  width:210px;
  margin:0 auto;
  text-align: center;
  border: 0.5px solid #d9d9d9;
  border-radius: 5px;
  padding-top: 60px;
  border-left: none;
  border-right: none;
  box-shadow: 0px 1px 1px 1px #d9d9d9;
}

.banner{
  background-color: #3399ff;
  text-align: center;
  padding: 5px;
  margin-top: -1px;
}

.contacts h3{
  font-family: 'Hind', sans-serif;
  font-size: 20px;
  color: white;
  display: block;
  vertical-align: super;
  text-align: center;
  margin: 0px;
}

.contacts h5{
  font-family: 'Hind', sans-serif;
  font-size: 12px;
  color: white;
  display: block;
  text-align: center;
  margin: 0px;
}

.sprite-chart-orange, .sprite-chart-green{
  margin: 15px auto;
  border: 1px solid #eaeeec;
}

/*DID YOU KNOW?*/
.dyk {
  margin: 20px 30px 0px 30px;
  background-color: #2498f4;
  border-radius: 3px;
}

.dyk img{
  position: absolute;
  display: inline;
  top: 50%;
  transform: translateY(-50%);
}

.dyk-nav-left, .dyk-nav-right{
  width: 22px;
  position: relative;
  padding: 0px;
}

.dyk-nav-right{
  text-align: right;
  padding-right: 22px;
}

.dyk-nav-right img{
  float: right;
  clear: right;
}

.dyk h5{
  margin: 20px 50px 25px 40px;
  font-family: 'Hind', sans-serif;
  font-size: 13px;
  color: white;
  display: block;
  text-align: left;
}

/*AD BANNER*/
.ad-banner div{
  display: inline-flex;
}

.ad-banner {
  background-color: #2498f4;
  margin-top: 10px;
}

.inside-ad{
  background-color: white;
  border-radius: 5px;
  box-shadow: 0px 2px 2px #004466;
  margin: 30px 15px;
  height: 160px;
  width: 268px;
}

.ad-banner a:hover{
  cursor: pointer;
}

.inside-ad img{
  vertical-align: top;
}

.ad-M img{
  position: absolute;
  top:19px;
  border-radius: 5px
}

/*FOOTER*/
.footer{
  background-color: #f4f4f4;
  border-top: 1px solid white;
  box-shadow: 0px -2px 5px #e2e2e2;
  font-family: 'Hind', sans-serif;
  font-size: 14px;
  margin-top: 50px;
}

.footer * {
  display: inline;
}

.footer a:active {
  color: gray;
}

.footer li:hover{
  cursor: pointer;
}

.footer ul{
  list-style: none;
  padding: 0px;
}

.footer .desktop li{
  float: left;
  margin: 10px;
}

.footer li {
  background-image: url(../images/footer-sep.png);
  background-repeat: no-repeat;
  background-position: top left;
  padding-left: 10px;
  margin: 0 auto;
  vertical-align: middle;
}

.footer .options{
  padding: 0px;
}

.footer .border-right{
  border-right: 1px solid #D8DDDD;
}

.footer .options a{
  color: #969999;
}

/*style to remove footer-sep.png from first item - W3Schools link: https://www.w3schools.com/cssref/sel_first-of-type.asp*/
.footer li:first-of-type {
  background-image: none;
}

.promo p{
  float: left;
  color: #747775;
  vertical-align: middle;
  margin: 10px;
}

.promo p a, .logout p a{
  font-weight: bold;
  color: #4398F2;
  vertical-align: middle;
}

.promo img{
  float: right;
  margin: 15px 10px;
}

.promo img:hover{
  transform: scale(1.1);
}

.logout * {
  display: inline;
}

.logout a{
  margin: 5px;
}

#car{
  border: 4px solid white;
  border-radius: 2px;
  box-shadow: 0px 3px 3px #C7CBD0;
  margin: 5px auto;
  width: 30%;
}

.social-media{
  text-align: center;
}

.social-media img{
  margin-top: 15px;
  -webkit-filter: grayscale(100%); /* W3Schools grayscale idea */
  filter: grayscale(100);
}

.social-media img:hover{
  -webkit-filter: grayscale(0%); /* grayscale filter off on hover */
  filter: grayscale(0);
  cursor: pointer;
}
